@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html,body{
	margin: 0;
	color: #333;
}

img{
	max-width: 100%;
}

.content{
	margin: 15px;
}

table{
	width: 100%;
}

textarea{
	font-size: 12pt!important;
	color: #333;
}

.monospaced, .monospaced *, textarea{
	font-family: "Droid Sans Mono", "Consolas", "Monaco", monospace!important;
}

.header{
	padding: 10px;
	
}

.btn-task-check i{
	opacity: .25;
}

.btn-task-check:hover i{
	opacity: 1;
}

a{
	color: rgb(0, 120, 231);
}

@media (max-width: 767px){
	.header{
		margin: 0 -20px;
		padding: 10px 20px;
	}
}

body{
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: url("/static/img/body-bg.png");
}

.textual{
	font-size: 120%;
	max-width: 640px;
	margin: 0 auto;
	line-height: 160%;
}

.textual h1,
.textual h2,
.textual h3,
.textual h4,
.textual h5,
.textual h6{
	margin-top: .75em;
	font-weight: 400;
}

.textual ul{
	list-style-type:square;
}



.pure-button-primary,
.pure-button{
	font-weight: 400;
}


.breadcrumbs a{
	color: rgb(51, 51, 51);
}

.footer{
	padding: 10px;
}

.pull-right{
	float: right;
}

::-webkit-scrollbar {
	width: 12px;
}


::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border: 1px solid #FFF;
}