@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);

.monospaced, .monospaced *{
	font-family: "Droid Sans Mono", "Consolas", "Monaco", monospace!important;
}

.header{
	padding: 10px 0;
	background-color: #DDD;
	background-color: rgba(0,0,0,.18);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)));
}

.btn-task-check i{
	opacity: .25;
}

.btn-task-check:hover i{
	opacity: 1;
}

@media (max-width: 767px){
	.header{
		margin: 0 -20px;
		padding: 10px 20px;
	}
}

body{
	font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url("/static/img/body-bg.png");
}

.textual{
	max-width: 640px;
	margin: 0 auto;
}

.textual h1,
.textual h2,
.textual h3,
.textual h4,
.textual h5,
.textual h6{
	margin-top: .75em;
	font-family: 'Noto Serif', serif;
}