<!DOCTYPE html>
<html>
<head>	
  {% block head %}
  <title>Mímir - {% block title %}{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pure-min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/print.css') }}" media="print" />
  
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->		
  {% endblock %}
</head>
<body>
  <div class="content">
    {% if session['timesheet_in'] %}
      <a href="/timesheet/out" class="pure-button pure-button-primary pull-right" title="{{ session['timesheet_file'] }}@{{ session['timesheet_in'] }}">Clock out</a>
    {% endif %}
    <h4 class="breadcrumbs">
      <a href="/">Home</a>{% for item in breadcrumbs %} / <a href="{{ item.href }}">{{ item.part }}</a>{% endfor %}
    </h4>


    {% if error %}<div class="alert monospaced">{{ error }}</div>{% endif %}
    {% block content %}{% endblock %}


    {% if menu %}
    <p class="pull-right">
      {% for href,title in menu.iteritems() %}
      <a class="pure-button" href="{{ href }}">{{ title }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</body>
</html>
