{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="pure-g">
	<div class="pure-u-1">
		<form class="pure-form" method="post">
			<textarea
			class="pure-input-1"
			name="text"
			rows="12">{{ text }}</textarea>
			<p>
				<input type="submit" class="pure-button pure-button-primary" value="Save file">
			</p>
		</form>
	</div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.autosize-min.js"></script>
<script src="/static/js/jquery.textarea.min.js"></script>
<script>
$("textarea").tabby();
$('textarea').autosize();
</script>
{% endblock %}
